{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}
<h1>Friend Suggestions for {{ profile }}</h1>
<ul>
    {% for suggestion in friend_suggestions %}
        <li>
            <a href="{% url 'show_profile' suggestion.id %}">{{ suggestion }}</a>
            - <a href="{% url 'add_friend' suggestion.id %}">Add Friend</a>
        </li>
    {% empty %}
        <p>No friend suggestions available.</p>
    {% endfor %}
</ul>
<a href="{% url 'show_profile' profile.id %}">Back to Profile</a>
{% endblock %}