{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}
<h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
<img src="{% static 'images/' %}{{ profile.profile_image_url }}" alt="{{ profile.first_name }}'s profile image" width="100">
<p><strong>City:</strong> {{ profile.city }}</p>
<p><strong>Email:</strong> {{ profile.email }}</p>

<a href="{% url 'create_status' profile.pk %}" class="btn">Create New Status Message</a>

<h3>Status Messages:</h3>
<ul>
    {% for status in profile.get_status_messages %}
    <li>
        <strong>{{ status.timestamp }}</strong>: {{ status.message }}
        <a href="{% url 'update_status' status.pk %}" class="btn">Update</a>
        <a href="{% url 'delete_status' status.pk %}" class="btn">Delete</a>
        <ul>
            {% for img in status.get_images %}
            <li>
                <img src="{{ img.image_file.url }}" alt="Image for {{ status.message }}" width="100">
            </li>
            {% endfor %}
        </ul>
    </li>
    {% empty %}
    <p>No status messages found.</p>
    {% endfor %}
</ul>

<h3>Friends:</h3>
<ul>
    {% for friend in profile.get_friends %}
    <li>
        <a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>
    </li>
    {% empty %}
    <p>No Friends Found.</p>
    {% endfor %}
</ul>

<h3>Add New Friends:</h3>
<ul>
    {% for potential_friend in Profile.objects.exclude(pk=profile.pk).exclude(pk__in=profile.get_friends) %}
    <li>
        <a href="'{% url 'add_friend' profile.pk potential_friend.pk %}">
            Add {{ potential_friend.first_name }} {{ potential_friend.last_name }}
        </a>
    </li>
    {% empty %}
    <p>No potential friends found.</p>
    {% endfor %}
</ul>

<a href="{% url 'show_all_profiles' %}" class="btn">Back to All Profiles</a>
<a href="{% url 'update_profile' profile.pk %}" class="btn">Update Profile</a>
<a href="{% url 'news_feed' profile.pk %}" class="btn">View News Feed</a>
{% endblock %}