{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}
<h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
<img src="{% static 'images/' %}{{ profile.profile_image_url }}" alt="{{ profile.first_name }}'s profile image" width="100">
<p><strong>City:</strong> {{ profile.city }}</p>
<p><strong>Email:</strong> {{ profile.email }}</p>

<a href="{% url 'create_status' profile.pk %}" class="btn">Create New Status Message</a>

<h3>Status Messages:</h3>
<ul>
    {% for status in profile.get_status_messages %}
    <li>
        <strong>{{ status.timestamp }}</strong>: {{ status.message }}
        {% if status.get_image %}
        <ul>
            {% for img in status.get_images %}
            <li>
                <img src="{{ img.image_file.url }}" alt="Image for {{ status.message }}" width="100">
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% empty %}
    <p>No status messages found.</p>
    {% endfor %}
</ul>

<a href="{% url 'show_all_profiles' %}" class="btn">Back to All Profiles</a>
{% endblock %}